body{
  background-image: url("images/bc2.jpg") ;
  align-items: center;
  text-align: center;
  background-repeat: no-repeat;

  background-size: cover;

}

.slider{
  position:relative;
  top:-850;
	margin:50px auto;
  width:50%;
  
  background-color:#c90a0a00 ;
 
}
.slider:hover{
  transform: scale(1.2);
  background: rgba(245, 245, 245, 0);
  z-index: 2;

  transition:1s;
 
}


  
 
.img-box img{
  width:100%;
  position: relative;
  top:-200;
}

.btn{
  position: relative;
  top:-300;
	border:none;
	outline:none;
	background:#c90a0aad;
	padding:10px 30px;
	font-size: 20px;
	color:#ddd;
	cursor: pointer;
  margin:10px auto;	
		 
}

.btn:hover{
	background: #3d47d9;
}
ul {margin:0px;
  padding:0px;
  list-style:none;
  z-index:1;
  font-size:18pt;
  text-align:center;
  }
  ul li {
     float: left;
     width:150px; 
     height:60px;
     background-color:#f13f3f;
     opacity:100%;
     line-height:40px;
     text-align:center;
     Font-size;18pt;
    
  }
  ul li a {
    text-decoration:none;
    color:white;
    display:block;
    z-index:1;
  }
  ul li a:hover {
    background-color:#a89f24;
    z-index:1;
  }
  ul li ul li 
  {display :none;}
  ul li:hover ul li {
    display:block;
    z-index:1;
  }
  .container{
    position: relative;
		width: 100%;
    padding: 0px;
    top:-900;
		margin: 0px auto;
		background: rgb(231, 171, 5);
		display: flex;
		flex-direction: row;
		justify-content: center;
	}

	.box{
		width: 250px;
		height: 300px;
		background: #c90a0aad;
    margin: 0px 10px;
    transition: 1s;

	}
	.box:hover{
		transform: scale(1.3);
		background: #9611cac5;
		z-index: 2;
		box-shadow: 2px 2px 2px #3d47d9ad;
		
	}
.box p {
  text-align:center;
  color:white;
}
h1{
  text-align: center;
  color: #ffffff;
  
}
.box h2 {
  text-align:center;
  color:white;
}
.box h3 {
  text-align:center;
  color:rgb(236, 147, 14);

}
.container1{
  position: relative;
  width: 100%;
  padding: 0px;
  top:-700;
  margin: 0px auto;
  background: rgba(28, 194, 36, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box1{
  width: 250px;
  height: 300px;
  background: #c90a0aad;
  margin: 0px 10px;
  transition: 1s;

}
.box1:hover{
  transform: scale(1.3);
  background: #a416e6b0;
  z-index: 2;
  box-shadow: 2px 2px 2px #3d47d9ad;
  
}
.container2{
  position: relative;
  width: 100%;
  padding: 0px;
  top:-200;
  margin: 0px auto;
  background: rgba(9, 175, 197, 0);
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.box2{
  width: 250px;
  height: 300px;
  background: #c90a0aad;
  margin: 0px 10px;
  transition: 1s;

}
.box2:hover{
  transform: scale(1.3);
  background: #e5e912a2;
  z-index: 2;
  box-shadow: 2px 2px 2px #3d47d9ad;
  
}
  




.end-bar{
 position: relative;
 top:70;
  text-align: center;
  background-color: #3d47d975;
}
.end-bar h1,h2, h3 {
  text-align: center;
  color:white;
}
.end-bar:hover{
  transform: scale(1.3);
  background: #da8a12d2;
  z-index: 2;
  transition: 1s;}
.vdo video{
  
  width:100%;
  opacity: 70%;
 
}
.logo{position: relative;
  z-index: 1;
  top:-700;
  width: 50%;
}

